.banner-title, .cart-title, .article-name, .article-price, .article-name-article {
  font-family: 'Playfair Display', serif; }

.article-cart, .banner-text, .navbar, .btn-dark, .table-cart, .bread-text {
  font-family: 'Ubuntu', sans-serif; }

html {
  font-size: 90%; }

.article-name, .article-price {
  color: gray; }

.articles {
  margin: 0 10%; }

.article-name, .article-desc, .article-price {
  margin: 0.5em !important; }

.article-cart {
  color: gray; }

.article-desc-article {
  border-bottom: 1px solid #bababa;
  margin: 0.5em !important; }

.btn-dark {
  border-radius: 0 !important;
  font-size: small !important;
  height: 3em;
  width: 13em; }

.btn-cart {
  border: 1px solid black !important;
  border-radius: 0 !important; }

.banner {
  background-image: url(../img/plates-header.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto; }

.btn-quantity {
  background-color: #bababa !important;
  border-radius: 0 !important; }

.banner-in {
  margin: auto;
  width: 50%;
  height: 300px;
  background-color: #393935;
  border: 0;
  border-left: 10px solid white;
  border-right: 10px solid white; }

.banner-description {
  padding: 10% 5%; }

.banner-title {
  border-bottom: 1px solid white;
  width: fit-content;
  margin: auto; }

.border-bottom {
  border-bottom: 2px solid gray !important; }

.banner-text {
  font-size: small; }

.cart-title {
  font-size: 3.5em; }

.counter {
  width: 30% !important; }

.card-top-img {
  height: 17em;
  width: 100%;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden; }

.card-top-img:hover {
  background-color: white;
  opacity: 0.4; }

.card:hover {
  opacity: 0.3; }

.card:hover, .middle:hover {
  opacity: 1; }

.card {
  position: relative; }

.cart {
  display: inline; }

.close {
  position: absolute;
  opacity: 0.3; }

.close:hover {
  opacity: 1; }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333; }

.close:before {
  transform: rotate(45deg); }

.close:after {
  transform: rotate(-45deg); }

.dropdown-menu {
  left: -250% !important;
  margin-right: 5% !important;
  border-radius: 0 !important; }

.nav-link, .bread-text {
  font-weight: bold !important;
  color: black !important; }

.nb-article {
  background-color: #e8e8e8;
  width: 100%;
  padding: 17px; }

.number {
  position: relative;
  top: 10%; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.shopping-cart {
  background-color: whitesmoke;
  height: 100em; }

svg {
  display: none; }

.table-cart {
  color: #aaaaaa; }

.table-article {
  margin: 0px 10rem 10rem 10rem; }

@media only screen and (max-width: 768px) {
  .breadcrumb {
    font-size: 10px; }
  .cart {
    display: none; }
  .cart-title {
    font-size: 2em; }
  .table-article {
    margin: 1%; }
  .continue-link {
    text-decoration: none; }
  .continue {
    border-bottom: 1px solid; }
  .desc {
    font-size: 9px; }
  .dropdown-menu {
    position: absolute !important;
    left: -500% !important;
    top: 130% !important; }
  .number {
    top: 30%; }
  svg {
    display: inline; } }
