.banner {
    background-image: url(../img/plates-header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.card-top-img {
    height: 307px;
    width: 100%;
}

.articles {
    margin: 0 10%;
}