head
    include head.pug
body
    include navbar.pug
.shopping-cart
    section.container
        .row.mx-5.py-5.text-center
            h1.cart-title.my-5 Shopping Cart

        // Tableau des carts
        .bg-white.table-article.p-5
            // Tête du tableau
            .row.mx-0.my-5.py-4.border-bottom.d-none.d-lg-flex
                .col-6
                    p.table-cart.text-uppercase Product
                .col-2.text-center
                    p.table-cart.text-uppercase Quantity
                .col-2.text-center
                    p.table-cart.text-uppercase Total
                .col-2.text-end
                    p.table-cart.text-uppercase Action

            // Article n°1
            .row.mx-0.my-5.mb-lg-5.py-3.pb-lg-5.border-bottom
                .col-12.col-lg-6
                    .row.m-0
                        // Image de l'article
                        .col-4.p-0
                            img.w-100.h-auto(src="../../../img/hand-painted-blue-flat-dish.jpg" alt="Image of hand painted blue flat dish" title="Hand painted blue flat dish")
                        // Caractéristique de l'article
                        .col-8.pr-0
                            p.table-cart.text-uppercase Kiriko
                            p.text-uppercase Hand painted blue flat dish
                            p.table-cart.text-uppercase Color: white
                .col-lg-2.text-center
                    // Gestion des quantités
                    div.d-flex
                        .w-100.my-auto
                            p 1
                        div
                            button.btn.ml-1.btn-quantity
                                i.fas.fa-plus
                            button.btn.ml-1.btn-quantity
                                i.fas.fa-minus
                .col-7.col-lg-2.mb-5.text-right.text-lg-center
                    p.article-price $28.00
                .col-1.col-lg-2.mb-5.text-right.text-lg-center
                    // Action sur l'article (suppression)
                    a(href="#" class="close")

            // Article n°2
            .row.mx-0.mb-5.pb-5.border-bottom
                .col-12.col-lg-6.mb-5
                    .row.m-0
                        // Image de l'article
                        .col-4.p-0
                            img.w-100.h-auto(src="../../../img/mashiko-yaki-green-small-plate.jpg" alt="Image of mashiko yaki indigo small plate" title="Mashiko yaki indigo small plate")
                        // Caractéristique de l'article
                        .col-8.pr-0
                            p Kiriko
                            p.article-title Mashiko yaki indigo small plate
                .col-4.col-lg-2.mb-5.text-center
                    // Gestion des quantités
                    .h-lg-50.w-50.m-lg-auto.d-flex
                        .content-counter.w-75.text-center
                            p.counter.justify-content-center 1
                        .w-50
                            button.btn.w-100.h-50.ml-1.btn-quantity
                                i.fas.fa-plus
                            button.btn.w-100.h-50.ml-1.btn-quantity
                                i.fas.fa-minus
                .col-7.col-lg-2.mb-5.text-right.text-lg-center
                    p $28.00
                .col-1.col-lg-2.mb-5.text-right.text-lg-center
                    // Action sur l'article (suppression)
                    a(href="#" class="close")

            // Total du tableau
            .row.mx-0.mb-5.border-bottom
                .col-6.d-none.d-lg-flex
                .col-12.col-lg-6.mb-5
                    .row.text-uppercase
                        .col-6.text-left.table-cart Cart Overview
                        .col-6.text-right
                    .row.my-3.text-uppercase
                        .col-6.text-left.table-cart Subtotal
                        .col-6.text-end.table-cart $56.00
                    .row.text-uppercase
                        .col-6.text-left.table-cart Total
                        .col-6.text-end $56.00 CAD

            // Action sur le panier
            .row.mx-0
                .col-12.col-lg-6.mb-5.mb-lg-0.text-lg-left.continue-shop.d-flex-start.text-start
                    a.text-dark(href="index.html") CONTINUE SHOPPING
                .col-12.col-lg-6.mb-5.text-end.text-lg-right
                    button.btn.btn-dark.w-50 Checkout ($56.00)