
doctype html
html(lang="en")
head
  include head.pug
  title ECF_2

body
  // include the navbar
  include navbar.pug

  // the banner with title and description of website
  section.banner
    div.banner-in
      div.banner-description.text-center.text-white
        div.banner-title
          h2.m-0.pb-lg-3 Plates
        div.banner-text
          p.m-0.pt-lg-3
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at purus pulvinar, placerat turpis ac, interdum metus. In eget massa sed enim hendrerit auctor a eget arcu. Curabitur ac pharetra nisl sit. 
  
  // all of the articles
  section.articles
    .row.mt-4
      .col-6.col-lg-4.mt-5
        .card.rounded-0.border-0
          // image of article
          img.card-top-img(src="img/blue-stripe-stoneware-plate.jpg", alt="")
          .middle
            a.btn.btn-dark.m-3.px-4(href="product-details.html") VIEW DETAILS
            button.btn.btn-dark.m-3.px-4 ADD TO CART
              a.overlay(href="product-details.html")

        div.card-body.text-center
          // name of article
          p.article-name Kiriko
          // description of article
          p.article-desc BLUE STRIPE STONEWARE PLATE
          // price of the article
          p.article-price $40.00


      div.col-6.col-lg-4.mt-5
        div.card.rounded-0.border-0
          // image of article
          img.card-top-img(src="img/hand-painted-blue-flat-dish.jpg", alt="")
          .middle
            a.btn.btn-dark.m-3.px-4(href="product-details.html") VIEW DETAILS
            button.btn.btn-dark.m-3.px-4 ADD TO CART
              a.overlay(href="product-details.html")
        div.card-body.text-center
          // name of article
          p.article-name Kiriko
          // description of article
          p.article-desc HAND PAINTED BLUE FLAT DISH
          // price of the article
          p.article-price $28.00

      div.col-6.col-lg-4.mt-5
        div.card.rounded-0.border-0
          // image of article
          img.card-top-img(src="img/heme.jpg", alt="")
          .middle
            a.btn.btn-dark.m-3.px-4(href="product-details.html") VIEW DETAILS
            button.btn.btn-dark.m-3.px-4 ADD TO CART
              a.overlay(href="product-details.html")
        div.card-body.text-center
          // name of article
          p.article-name Dust & form
          // description of article
          p.article-desc HEME
          // price of the article
          p.article-price $52.00

      div.col-6.col-lg-4.mt-5
        div.card.rounded-0.border-0
          // image of article
          img.card-top-img(src="img/mashiko-yaki-green-small-plate.jpg", alt="")
          .middle
            a.btn.btn-dark.m-3.px-4(href="product-details.html") VIEW DETAILS
            button.btn.btn-dark.m-3.px-4 ADD TO CART
              a.overlay(href="product-details.html")
        div.card-body.text-center
          // name of article
          p.article-name Kiriko
          // description of article
          p.article-desc MASHIKO-YAKI GREEN SMALL PLATE
          // price of the article
          p.article-price $18.00

      div.col-6.col-lg-4.mt-5
        div.card.rounded-0.border-0
          // image of article
          img.card-top-img(src="img/mashiko-yaki-indigo-small-plate.jpg", alt="")
          .middle
            a.btn.btn-dark.m-3.px-4(href="product-details.html") VIEW DETAILS
            button.btn.btn-dark.m-3.px-4 ADD TO CART
              a.overlay(href="product-details.html")
        div.card-body.text-center
          // name of article
          p.article-name Kiriko
          // description of article
          p.article-desc MASHIKO-YAKI INDIGO SMALL PLATE
          // price of the article
          p.article-price $28.00

      div.col-6.col-lg-4.mt-5
        div.card.rounded-0.border-0
          // image of article
          img.card-top-img(src="img/mashiko-yaki-saucer.jpg", alt="")
          .middle
            a.btn.btn-dark.m-3.px-4(href="product-details.html") VIEW DETAILS
            button.btn.btn-dark.m-3.px-4 ADD TO CART
        div.card-body.text-center
          // name of article
          p.article-name Kiriko
          // description of article
          p.article-desc MASHIKO-YAKI SAUCER
          // price of the article
          p.article-price $18.00