body
    nav.navbar.navbar-expand-lg.navbar-light.border-bottom
        .navbar-brand.order-lg-1.order-2
            img(src="img/logo.png", alt="")

        // bouton menu pour format mobile/tablette
        button.navbar-toggler.order-1.order-lg-2.border-0(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse.order-lg-2
            ul.navbar-nav.mx-auto
                li.nav-item.active.px-3
                    a.nav-link(href='index.html') HOME

                li.nav-item.px-3.dropdown
                    a.nav-link.text-dark.dropdown-toggle(href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") SHOP
                    .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                        a.dropdown-item(href="#") Action

                li.nav-item.px-3
                    a.nav-link(href='#') JOURNAL

                li.nav-item.px-3.dropdown
                    a.nav-link.text-dark.dropdown-toggle(href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") MORE
                    .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                        a.dropdown-item(href="#") Action

        .order-3
            ul.navbar-nav
                // My cart (2)
                li.nav-item.dropdown
                    a.nav-link.text-dark.dropdown-toggle.dropstart(href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        .nav-link-cart.d-inline
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" (class="bi bi-bag" viewBox="0 0 16 16">
                                <path (class="navbar-toggler" d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                            </svg>
                            span.cart.text-uppercase My cart
                            span  (2)
                    // Dropdown du panier
                    .dropdown-menu.dropdown-menu-right.dropdown-menu-cart(aria-labelledby="navbarDropdownMenuLink2")
                        // Article n°1
                        .row.m-4
                            // Image de l'article
                            .col-3.p-0
                                img.w-100.h-100(src="img/hand-painted-blue-flat-dish.jpg" alt="Image of hand painted blue flat dish" title="Hand painted blue flat dish")
                            // Caractéristique de l'article
                            .row.col-8.pr-0
                                p.text-uppercase.fw-bold Hand painted blue flat dish
                                    span.article-quantities x 1
                                p.text-uppercase.article-cart Kiriko
                                p.text-dark.fw-bold $28.00
                            // Action sur l'article (suppression)
                            .col-1.p-0.text-end
                                i.fas.fa-times
                        // Article n°2
                        .row.m-4
                            // Image de l'article
                            .col-3.p-0
                                img.w-100.h-100(src="img/mashiko-yaki-indigo-small-plate.jpg" alt="Image of mashiko-yaki indigo small plate" title="Mashiko yaki indigo small plate")
                            // Caractéristique de l'article
                            .col-8.pr-0
                                p.text-uppercase.fw-bold Mashiko yaki indigo small plate
                                    span x 1
                                p.text-uppercase.article-cart Kiriko
                                p.text-dark.fw-bold $28.00
                            // Action sur l'article (suppression)
                            .col-1.p-0.text-right
                                i.fas.fa-times
                        // Total des articles
                        .row.m-4.border-top.pt-3
                            .col-10.pl-0
                                p.font-weight-normal.article-cart.text-uppercase Total
                            .col-2.pr-0
                                p.font-weight-normal.article-cart $56.00
                        // Boutons d'actions du panier
                        .row.m-4
                            .col.p-2
                                a.btn.btn-cart.w-100.h-100.text-uppercase.fw-bold(href="cart.html") View cart
                            .col.p-2
                                button.btn.btn-dark.w-100.text-uppercase.fw-bold Checkout
                    
                    