body
    nav.navbar.navbar-expand-lg.navbar-light
        div.p-2.mr-auto
            img(src="../../../img/logo.png", alt="")
        // bouton menu pour format mobile/tablette
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon.
        div#navbarNav.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
                li.nav-item.active.px-3
                    a.nav-link(href='#') HOME

                li.nav-item.px-3.dropdown
                    a.nav-link.text-dark.dropdown-toggle(href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") SHOP
                    div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                        a(class="dropdown-item" href="#") Action

                li.nav-item.px-3
                    a.nav-link(href='#') JOURNAL

                li.nav-item.px-3.dropdown
                    a.nav-link.text-dark.dropdown-toggle(href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") MORE
                    div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                        a.dropdown-item(href="#") Action


            ul.navbar-nav.ml-auto
                li.nav-item.px-3.dropdown
                    a.nav-link.text-dark.dropdown-toggle(href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") MY CART (2)
                    ul.dropdown-menu.dropdown-cart.dropdown-menu.menu-right(role='menu' aria-labelledby="navbarDropdownMenuLink")
                        li
                            span.item
                                span.item-left
                                    img.w-100.h-100(src='../../../img/hand-painted-blue-flat-dish.jpg' alt='')
                                    span.item-info
                                        span Item name
                                        span price: 27$
                                span.item-right
                                    button.btn.btn-danger.fa.fa-close
                        li
                            span.item
                                span.item-left
                                    img.w-100.h-100(src='../../../img/mashiko-yaki-indigo-small-plate.jpg' alt='')
                                    span.item-info
                                        span Item name
                                        span price: 27$
                                span.item-right
                                    button.btn.btn-danger.fa.fa-close
                        
